.whole-logo{
    position: absolute;
    width: 100%;
    top: 44px;
}
.title{
    font-family: Poppins-Medium;
    font-size: 34px;
    letter-spacing: -0.68px;
    color: #000000;
    text-align: left;
    margin-left: 10px;
}