.layout-container{
    display: flex;
    max-width: 1366px;
}
.left-layout, .right-layout{
    position: relative;
}
.right-layout{
    padding: 40px;
    width: 80%;
    background-color: #F5F8FC;
}
.left-layout{
    min-width: 250px;
    width: 20%;
    background-color: #ffffff;
}


@media screen and (max-width: 1028px){
    .layout-container{
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 768px) {
    .right-layout{
        padding: 10px;
    }
}