*{
  user-select: none;
}
.flex{
  display: flex;
}
.center-1{
  justify-content: center;
}
.center-2{
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
}
html, body{
   background-color:  #F5F8FC;
}